:root{
    --obstacle-size: 20px;
    --bgcolor: yellow;
    --center-x: calc(50% - (var(--obstacle-size) / 2));
    --center-y: calc(50% - (var(--obstacle-size) / 2));
}

span.obstacle, span.sonar {
    width: var(--obstacle-size);
    height: var(--obstacle-size);
    position: absolute;
    background-color: var(--bgcolor);
    display: inline-block;
    border-radius: 50%;
}

span.sonar {
    background-color: greenyellow;
    top: var(--center-x);
    left: var(--center-y);
}